/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

@font-face {
	font-family: "font";
	src: url("./../font/font.ttf");
	font-weight: normal;
	font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url('../img/background.png');
	overflow-y: hidden;
	min-height: 600px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

header{
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: rgba(255, 255, 255, .8);
}

header h1 {
	color: #333333;
	font-family: "font";
	font-size: 2.2em;
	line-height: 55px;

	margin: 0 0 0 -40px;
}

#chrono
{
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .7em;
	position: absolute;
	top: 19px;
	left: 11px;
}

#chrono span
{
	background-color: #333333;
	color: whitesmoke;
	-webkit-transition:all 200ms ease-in-out;
	-moz-transition:all 200ms ease-in-out;
	transition:all 200ms ease-in-out;
	margin: 0 0 0 2px;
	padding: 5px 10px 5px 10px;
}

header a{
	background-color: #333333;
	color: whitesmoke;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .7em;
	text-decoration: none;
	-webkit-transition:all 200ms ease-in-out;
	-moz-transition:all 200ms ease-in-out;
	transition:all 200ms ease-in-out;
	padding: 5px 10px 5px 10px;
	position: absolute;
	top: 15px;
	right: 15px;
}

header a:hover{
	opacity: .8;
}

header img{
	position: absolute;
	top: 10px;
	left: 50%;
	margin: 0 0 0 33px;
}

#error{
	width: 100%;
	height: 30px;
	text-align: center;
	background-color: rgba(162, 142, 61, .4);
	display: none;
}

#error p{
	line-height: 32px;
	font-family: arial;
	font-size: .8em;
	color: whitesmoke;
}


#board {
	width: 960px;
	margin: 20px auto;
	padding: 0 0 0 11px;
}

/* top */
#top{
	margin-bottom: 20px;
}

#top>div{
	display: inline-block;
}

#stack{
	position: relative;
	margin: 0 0 0 5px;
}

#pioche
{
	margin: 0 0 0 10px;
}

#stack img, #pioche img{
	position: absolute;
}

#family{
	float: right;
	margin: 0 21px 0 0;
}

#family>div{
	display: inline-block;
	position: relative;
	margin: 0 0 0 10px;
}

/* TAPIS */

.card{
	width: 116px;
	box-shadow: 0 0 2px rgba(0, 0, 0, .1);
	border-radius: 5px;
}

.cards {
	width : 120px;
	height :166px;
	border : 2px solid rgba(0, 0, 0, .5);
	border-radius: 5px;
}
#round {
	width: 50px;
	height: 50px;
	border : 10px solid rgba(0, 0, 0, .5);
	border-radius: 100%;

	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
}

#tapis .cards{
	position: relative;
	display: inline-block;
	margin: 0px 5px;
}

#tapis .cards img{
	position: absolute;
}

#family .cards img{
	position: absolute;
	top:0px
}

.focus{
	box-shadow: 0 0 45px rgba(162, 142, 61, 1);	
}

#popup{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	position:absolute;
	z-index: 10000;
	text-align: center;
}
#popup div
{
	background-color: whitesmoke;
	width: 400px;
	height: 170px;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;

	position: relative;
	margin: 50px auto;
}
#popup div span
{
	background-color: rgba(162, 142, 61, .6);
	color: white;
	cursor: pointer;
	width: 100%;

	display: block;
	position: absolute;
	bottom: 0;
	padding: 13px;
}
#popup div span:hover
{
	background-color: rgba(162, 142, 61, .4);
}

#popup h3
{
	padding: 65px 0 0 0;
}

#chrono{
	float: left;
}

#decompte{
	color: black;
}

/* DRAG */



